{% extends "base.html" %}

{% block title %}{{ block.super }} - Signup{% endblock %}

{% block content %}
    <div class="container">
            <h4>signup</h4>
            <div class="form-group">
              <form id="register_form" method="POST" action="{% url "signup" %}">
              {% csrf_token %}
              <div class="form-control">
                  {{ register_form.username.errors }}
                  {{ register_form.username.label }}:
                  {{ register_form.username }}
              </div>
              <div class="form-control">
                  {{ register_form.password.errors }}
                  {{ register_form.password.label }}:
                  {{ register_form.password }}
              </div>
              <div class="form-control">
                  {{ register_form.repeat_password.errors }}
                  {{ register_form.repeat_password.label }}:
                  {{ register_form.repeat_password }}
              </div>
                {% if next %}
                  <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
              <input type="submit" class="btn btn-danger" value="enter">
              </form>
            </div>
            <h4>do you already have an account? <a href="{% url "login" %}">login</a>.</h4>
    </div>
{% endblock %}
